h1{
    text-shadow: 3px 3px 3px orange;
    /* text-shadow: 3px 3px 3px rgb(51, 51, 72), 60px 45px 6px green; */
}
.box{
    margin:15px;
    background-color: aqua;
    width: 120px;
    height: 150px;
    box-shadow:15px 20px 25px red,-10px -20px 15px greenyellow ;
    color: green;
    box-shadow: inset 5em 1em gold;
    box-shadow: 60px -16px teal;
}