.box{
    background-color: aqua;
    transform: translate(19px,23px);
    transform: translateX(123px);
    transform: translateY(100px);
    transform: rotate(23deg);
    transform: rotate(-45deg);
    margin: 200px;
    transform: scale(2,10);
    transform: scaleX(6);
    transform: scaleY(4);
    /* transform: scale(45deg); */
    transform: skew(45deg);
    transform: skewY(56deg);
    transform: skewX(-45deg);
    transform: matrix(12,23,45,67);
    transform: matrix(0.4, 0, 0.5, 1.2, 60, 10);
    transform: matrix(1.2, 0.2, -1, 0.9, 0, 20);
    transform: matrix(0, 1, 1, 0, 0, 0);
    transform: matrix(0.1, 1, -0.3, 1, 0, 0);

}